/* line 8, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
* {
  box-sizing: border-box; }

/* line 11, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
html {
  height: 100%;
  scroll-behavior: smooth; }

/* line 15, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  height: 100%; }

/* line 23, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Enriqueta', serif; }

/* line 27, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
h2 {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 8px; }

/* line 32, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
h3 {
  font-size: 28px;
  margin-bottom: 8px; }

/* line 36, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
h6 {
  font-size: 14px;
  margin: 0; }

/* line 40, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
p {
  line-height: 1.7; }

/* line 43, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
p.low {
  color: #676767;
  font-size: 14px; }

/* line 47, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
a {
  color: #587B9F; }

/* line 51, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.blue-light {
  color: #ABC9E7; }

/* line 54, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.grey-dark {
  color: #676767; }

/* line 58, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 50px 70px; }
  @media screen and (max-width: 419px) {
    /* line 58, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    .container {
      padding: 30px; } }

/* line 67, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.halfwidth-left {
  width: 50%;
  margin-right: 25px; }
  @media screen and (max-width: 767px) {
    /* line 67, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    .halfwidth-left {
      width: 100%;
      margin-right: 0; } }

/* line 75, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.halfwidth-right {
  width: 50%;
  margin-left: 25px; }
  @media screen and (max-width: 767px) {
    /* line 75, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    .halfwidth-right {
      width: 100%;
      margin-left: 0; } }

/* line 83, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.button {
  font-weight: 400;
  color: #FFF;
  background-color: #587B9F;
  padding: 12px 20px;
  border-radius: 21px;
  text-decoration: none;
  transition: background-color .3s; }
  /* line 91, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  .button:hover {
    background-color: #ABC9E7; }

/* line 96, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.greyskew, .blueskew, .darkblueskew {
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
  transform: skewY(-3deg); }

/* line 104, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.greyskew {
  background-color: #F9F9F9; }

/* line 107, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.blueskew {
  background-color: #D7F0FF; }

/* line 110, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.darkblueskew {
  background-color: #587B9F; }

/* line 113, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.greybox {
  background: #F9F9F9;
  border: 1px solid #F0F0F0;
  border-radius: 26px; }

@media screen and (max-width: 879px) {
  /* line 119, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #backgroundblock {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3; } }

/* line 129, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.hidden {
  display: none; }

/* line 133, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  /* line 137, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #header .container #logo {
    width: 360px;
    text-decoration: none; }
    /* line 140, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #header .container #logo img {
      width: 68px;
      border-radius: 8px;
      float: left;
      margin-right: 10px; }
    /* line 146, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #header .container #logo h1 {
      margin: 8px 0 4px;
      font-size: 24px;
      line-height: 1; }
    /* line 151, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #header .container #logo p {
      margin: 0;
      color: #676767;
      font-size: 14px; }
    @media screen and (max-width: 479px) {
      /* line 137, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #logo {
        width: 290px; }
        /* line 158, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #header .container #logo img {
          width: 53px; }
        /* line 161, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #header .container #logo p {
          display: none; } }
    @media screen and (max-width: 349px) {
      /* line 166, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #logo img {
        width: 50px; }
      /* line 169, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #logo h1 {
        font-size: 22px; } }
  /* line 174, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #header .container #menubar {
    font-weight: 400;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end; }
    /* line 180, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #header .container #menubar a {
      font-size: 16px;
      padding: 12px 16px;
      text-decoration: none;
      transition: color .3s, background-color .3s; }
      /* line 185, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #menubar a:hover {
        color: #ABC9E7; }
    /* line 189, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #header .container #menubar a#donate {
      background-color: #587B9F;
      color: #FFF;
      border-radius: 99px;
      padding: 12px 16px;
      margin-left: 12px; }
      /* line 195, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #menubar a#donate:hover {
        background-color: #ABC9E7; }
    /* line 199, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #header .container #menubar a#closebutton {
      display: none; }
    @media screen and (max-width: 879px) {
      /* line 174, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #menubar {
        display: none; } }
  @media screen and (max-width: 879px) {
    /* line 206, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #header .container #menubar.mobile {
      font-weight: bold;
      z-index: 5;
      display: flex;
      flex-direction: column;
      position: fixed;
      background-color: rgba(240, 240, 240, 0.9);
      padding: 1em;
      border: 2px solid #CCC;
      border-radius: 8px;
      left: 50px;
      right: 50px; }
      /* line 219, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #menubar.mobile a#donate {
        margin-left: 0;
        margin-top: 1em; }
      /* line 223, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #menubar.mobile a#closebutton {
        padding: 0.2em;
        display: block;
        text-align: center; }
        /* line 228, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #header .container #menubar.mobile a#closebutton img {
          width: 30px; } }
  /* line 234, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #header .container #menubutton {
    padding: 0 20px;
    display: none; }
    @media screen and (max-width: 879px) {
      /* line 234, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #menubutton {
        display: flex; } }
    @media screen and (max-width: 419px) {
      /* line 234, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #header .container #menubutton {
        margin-right: -20px; } }

/* line 246, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#firstsectionskew {
  position: absolute;
  z-index: -3;
  background-color: #e9fdb3 !important;
  width: 100%;
  height: 100%;
  border-top: 8px solid #81954B !important;
  transform: skewY(-3deg); }

/* line 257, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#firstsectionskewnormal {
  font-weight: bold;
  position: absolute;
  z-index: -3;
  background-color: #D7F0FF;
  width: 100%;
  height: 100%;
  border-top: 8px solid #587B9F !important;
  transform: skewY(-3deg); }

/* line 268, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#headersection {
  position: relative; }
  /* line 270, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #headersection .container li {
    padding-bottom: 8px; }

/* line 278, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#headersectionnormal {
  position: relative; }
  /* line 280, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #headersectionnormal .container {
    padding-bottom: 2em; }

/* line 285, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#welcome {
  position: relative; }
  /* line 287, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #welcome .container {
    display: flex;
    flex-direction: row;
    align-items: center; }
    /* line 291, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #welcome .container img {
      width: 100%; }
    /* line 294, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #welcome .container p {
      margin-bottom: 32px; }
    @media screen and (max-width: 767px) {
      /* line 287, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #welcome .container {
        flex-direction: column-reverse;
        padding: 50px 30px; } }

/* line 303, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#homegetinvolved {
  position: relative; }
  /* line 305, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #homegetinvolved .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 50px 70px 50px; }
    @media screen and (max-width: 767px) {
      /* line 305, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #homegetinvolved .container {
        flex-direction: column-reverse;
        padding: 40px 30px; } }
  /* line 315, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #homegetinvolved h2 {
    margin-top: 0; }
  /* line 318, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #homegetinvolved form {
    font-weight: 400; }
    /* line 320, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homegetinvolved form input[type="text"], #homegetinvolved form input[type="email"] {
      width: 100%;
      height: 36px;
      padding: 8px;
      margin-bottom: 16px;
      font-size: 16px; }
    /* line 327, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homegetinvolved form #formbottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      color: #676767; }
      /* line 333, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #homegetinvolved form #formbottom div {
        display: flex;
        align-items: center; }
      @media screen and (max-width: 509px) {
        /* line 327, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #homegetinvolved form #formbottom {
          flex-wrap: wrap;
          justify-content: center; }
          /* line 340, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
          #homegetinvolved form #formbottom input[type="submit"] {
            margin-top: 16px; } }
    /* line 345, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homegetinvolved form input[type="submit"] {
      font-weight: 400;
      color: #FFF;
      background-color: #A4CF00;
      padding: 12px 20px;
      border-radius: 28px;
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      transition: background-color 0.3s; }
      /* line 356, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #homegetinvolved form input[type="submit"]:hover {
        background-color: #B4D926; }
    /* line 360, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homegetinvolved form input[type="radio"] {
      background-color: #FFF;
      border: 1px solid #bbb;
      border-radius: 15px;
      cursor: pointer;
      display: inline-block;
      height: 30px;
      position: relative;
      width: 30px;
      -webkit-appearance: none;
      margin-right: 8px; }
    /* line 372, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homegetinvolved form input[type="radio"]:after {
      background-color: #FFF;
      border-radius: 25px;
      content: '';
      display: block;
      height: 20px;
      left: 4px;
      position: relative;
      top: 4px;
      width: 20px; }
    /* line 383, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homegetinvolved form input[type="radio"]:checked:after {
      background-color: #587B9F; }

/* line 390, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#homeservices p {
  margin: 28px 0 36px; }

/* line 391, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#homeservices .container {
  padding: 50px 50px 100px 50px; }
  @media screen and (max-width: 767px) {
    /* line 391, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homeservices .container {
      padding: 40px 30px; }
      /* line 395, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #homeservices .container h3 {
        margin-top: 0; } }

/* line 402, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#servicesbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
  flex-wrap: wrap; }
  /* line 409, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #servicesbox .service {
    border: 1px solid #E0E0E0;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
    background-color: #f7f7f7;
    border-radius: 22px;
    width: 15%;
    height: 150px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: #000;
    transition: all 0.3s; }
    /* line 424, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #servicesbox .service h6 {
      text-align: center; }
    /* line 427, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #servicesbox .service:hover {
      box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.32);
      background-color: #fff; }
    @media screen and (max-width: 767px) {
      /* line 409, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #servicesbox .service {
        width: 30%;
        margin-bottom: 24px; } }
    @media screen and (max-width: 419px) {
      /* line 409, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #servicesbox .service {
        width: 45%; } }

/* line 442, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#homelocationevents {
  position: relative; }
  /* line 445, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #homelocationevents .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 80px 50px; }
    /* line 450, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homelocationevents .container h3 {
      margin-top: 0;
      margin-bottom: 22px; }
    /* line 454, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homelocationevents .container .greybox {
      overflow: hidden;
      color: #676767; }
    /* line 458, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homelocationevents .container .locationgrid {
      display: flex;
      align-items: flex-start;
      margin: 24px;
      font-size: 14px; }
      /* line 463, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #homelocationevents .container .locationgrid p {
        margin: 0 0 0 16px; }
      /* line 466, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #homelocationevents .container .locationgrid #openinghoursgrid {
        display: flex;
        flex-wrap: wrap;
        margin-left: 16px; }
        /* line 470, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #homelocationevents .container .locationgrid #openinghoursgrid p {
          width: 50%;
          margin-left: 0; }
        @media screen and (max-width: 879px) {
          /* line 475, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
          #homelocationevents .container .locationgrid #openinghoursgrid p {
            width: 100%; }
          /* line 478, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
          #homelocationevents .container .locationgrid #openinghoursgrid .ohday {
            margin-top: 8px;
            font-weight: 400; } }
    /* line 485, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homelocationevents .container #location-phone {
      font-size: 18px; }
    /* line 488, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #homelocationevents .container .event {
      display: flex;
      margin: 24px; }
      /* line 491, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #homelocationevents .container .event .event-date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 400; }
        /* line 497, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #homelocationevents .container .event .event-date p {
          margin: 0; }
        /* line 501, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #homelocationevents .container .event .event-date .event-day {
          font-size: 32px; }
      /* line 508, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #homelocationevents .container .event .event-details {
        margin-left: 16px;
        border-left: 1px solid #E0E0E0;
        padding: 8px 0 8px 16px; }
        /* line 512, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #homelocationevents .container .event .event-details h5 {
          margin: 0;
          font-size: 20px; }
    @media screen and (max-width: 767px) {
      /* line 445, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #homelocationevents .container {
        flex-direction: column;
        padding: 40px 30px; }
        /* line 521, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #homelocationevents .container h3 {
          margin-top: 0; }
        /* line 524, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
        #homelocationevents .container #upcomingeventsheader {
          margin-top: 32px; } }

/* line 531, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#pobal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin: 30px 0 10px 0; }
  /* line 540, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #pobal p {
    margin: 0 32px; }
  /* line 543, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #pobal #poballogo {
    width: 160px;
    height: 64px; }
  @media screen and (max-width: 767px) {
    /* line 531, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #pobal {
      flex-direction: column;
      margin: 0; }
      /* line 550, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #pobal #info {
        width: 32px; }
      /* line 553, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #pobal p {
        margin: 32px 0; } }

/* line 559, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.services-service {
  position: relative; }
  /* line 561, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  .services-service .container {
    display: flex;
    align-items: center; }
    /* line 564, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    .services-service .container .services-serviceicon img {
      width: 70px;
      margin-right: 30px; }
    @media screen and (max-width: 459px) {
      /* line 561, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      .services-service .container {
        flex-direction: column; } }
    /* line 571, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    .services-service .container li {
      margin-bottom: 8px; }

/* line 577, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#moreinfo {
  position: relative; }

/* line 581, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#moreinfo .container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 585, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #moreinfo .container a {
    margin-bottom: 1em; }
  /* line 588, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #moreinfo .container p {
    text-align: center; }

/* line 594, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
.services-service form {
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  /* line 598, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  .services-service form input, .services-service form textarea, .services-service form button {
    padding: 1em;
    font-size: 16px;
    margin-top: 1em;
    border-radius: 8px; }
  /* line 604, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  .services-service form textarea {
    height: 200px; }
  /* line 607, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  .services-service form .g-recaptcha {
    margin: 1em auto 0; }

/* line 613, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
#footer {
  position: relative;
  color: #FFF; }
  /* line 616, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #footer a {
    color: #FFF;
    text-decoration: none; }
  /* line 620, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #footer .darkblueflat {
    background-color: #587B9F;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    bottom: -50px; }
  /* line 628, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #footer .container {
    display: flex;
    justify-content: space-between;
    padding: 80px 50px 10px; }
  /* line 634, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #footer #footerleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    /* line 638, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer #footerleft #footercopyright {
      color: #ABC9E7;
      line-height: 1.7; }
    /* line 643, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer #footerleft #footercontact img {
      width: 28px;
      margin-right: 8px;
      margin-top: 8px; }
    /* line 649, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer #footerleft #footerpartners {
      background-color: #fff;
      border-radius: 8px; }
      /* line 652, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #footer #footerleft #footerpartners img {
        height: 44px;
        margin: 16px; }
  /* line 658, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #footer #footerright {
    flex-grow: 1; }
    /* line 660, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer #footerright h3 {
      margin-top: 0;
      color: #ABC9E7; }
    /* line 664, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer #footerright #sitemap {
      display: flex;
      justify-content: space-between; }
      /* line 667, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #footer #footerright #sitemap ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        line-height: 1.7; }
  /* line 675, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
  #footer #footerdivider {
    background-color: #ABC9E7;
    width: 1px;
    margin: 0px 48px; }
  @media screen and (max-width: 879px) {
    /* line 681, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer .container {
      flex-direction: column; }
    /* line 684, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer #footerleft {
      flex-direction: row; } }
  @media screen and (max-width: 767px) {
    /* line 689, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer .container {
      padding: 50px 30px 0; }
    /* line 692, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer #footerleft {
      flex-direction: column; }
      /* line 694, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #footer #footerleft > div {
        margin-bottom: 24px; }
      /* line 697, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #footer #footerleft #footerpartners {
        width: 300px; } }
  @media screen and (max-width: 549px) {
    /* line 704, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer #footerleft #footerpartners {
      width: 260px;
      display: flex;
      justify-content: space-around; }
      /* line 708, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
      #footer #footerleft #footerpartners img {
        height: 36px; }
    /* line 714, /Users/peter/Documents/Work/Age Inclusion/repo/styles/main.scss */
    #footer #footerright #sitemap {
      flex-direction: column; } }

/*# sourceMappingURL=main.css.map */